@charset "UTF-8";
/* CSS Document */

/*Colors*/
.container {
	background-color: #FFFFFF;
}

h1, h2, h3, h4, p, a, #contact h3, .project-page-info h3 {
	color: #000000;
}

/*Typography*/
h1 {
	font: italic 900 250%/110% "proxima-nova", sans-serif;
}

h2 {
	font: italic 800 200%/110% "proxima-nova", sans-serif;
}

h3 {
	font: italic 700 150%/110% "proxima-nova", sans-serif;
}

h4 {
	font: italic 600 100%/110% "proxima-nova", sans-serif;
}

p {
	font: normal 100%/150% "proxima-nova", sans-serif;
}

/*Project pages*/
.project-page-info h3 {
	color: #000000;
}

.project-page-info {
	margin: 10px 0 10px 0;
}

/*Buttons*/
.button {
	background: url(../img/brush-button.png);
	padding: 20px;
	margin: auto;
	background-size: 100%;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
	font: italic 800 125% "proxima-nova", sans-serif;
	color: #2EBDBA;
}
.button:hover {
	background: url(../img/brush-button-pink.png);
	background-size:100%;
	background-repeat:no-repeat;
	font: italic 800 125% "proxima-nova", sans-serif;
	color: #000000;
}

.project-buttons {
	padding: 1% 0 1% 0;
	height: 100px;
}

.form-button {
	border: solid 2px #000000;
	background-color: transparent;
	width: 100%;
	height: 50px;
	font: italic 800 125% "proxima-nova", sans-serif;
}

.form-button:hover {
	border: none;
	background-color: #000000;
	color: #FFFFFF;
	font: italic 800 125% "proxima-nova", sans-serif;
}

/*Icons*/
.icons ul li {
	margin: 5% 0 0 0;
}

.icon-facebook {
	background:url(../img/icon-facebook.png);
	background-size: 100%;
	background-repeat:no-repeat;
	padding: 50%;
}

.icon-facebook:hover {
	background:url(../img/icon-facebook-pink.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

.icon-twitter {
	background: url(../img/icon-twitter.png);
	background-size: 100%;
	background-repeat:no-repeat;
	padding: 50%;
}

.icon-twitter:hover {
	background: url(../img/icon-twitter-pink.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

.icon-instagram {
	background: url(../img/icon-instagram.png);
	background-size: 100%;
	background-repeat:no-repeat;
	padding: 50%;
}

.icon-instagram:hover {
	background: url(../img/icon-instagram-pink.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

.icon-linkedin {
	background: url(../img/icon-linkedin.png);
	background-size: 100%;
	background-repeat:no-repeat;
	padding: 50%;
}

.icon-linkedin:hover {
	background: url(../img/icon-linkedin-pink.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

/*Basic Styles*/
li {
	list-style-type: none;
}

.row {
	max-width: 90%;
}

.project-row{
	margin-bottom: 30px;
}

/*Contact Form DEFAULT*/
input[type="text"] {
	font: italic 600 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;
	border: solid;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

/*Contact Form PLACEHOLDER*/
::-webkit-input-placeholder {
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

:-moz-placeholder { /* Firefox 18- */
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA; 
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;  
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

:-ms-input-placeholder {
	font: italic 500 100%/100% "proxima-nova", sans-serif; 
	color: #2EBDBA;  
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

textarea {
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	height: auto;
	min-height: 100px;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}
 
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
	border-color: #2EBDBA;
	color: #000000;
}

/*Project Image Positioning*/
.hued-project {
	margin-top: 50%;
}

.human-project {
	margin-top: -75%;
}

.night-stand-project {
	 margin-top: -50%;
 }

.platos-closet-project {
	margin-top: -10%;
}

/*Positioning*/

#home, #about {
	margin: 15% 0 10% 0;
}

span.hidden {
    display: none;
}

.project-header {
	margin: 15% 0 15% 0;
}

/*Project Hovers*/
.project {
	max-width: 100%;
	position: relative;
	-webkit-transition: all 0.6s;
}

.project img {
	width: 100%;
	-webkit-transition: all 0.6s;
}

.project .project-info {
	display: block;
	background: #2EBDBA;
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out;
	opacity: 0;
}

.project p, h3, h4 {
	transform: scale(0.2);
	-webkit-transition: all 0.3s ease 0.2s;
	opacity:0;
}

.project h3 {
	margin-top: 10%;
}

.project .project-info .project-content {
	max-width: 100%;
	position: relative;
	padding: 10%;
}

.project:hover .project-info {
	opacity: .9; 
	transform: scale(1);
	visibility: visible;
	display: inline;
	max-width: 100%;
}

.project:hover p, h3, h4 {
	opacity: 1;
	transform: scale(1);
	color: #FFFFFF;
}

/*Off Canvas Nav*/
#menu {
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 13.755em;
	right: -13.755em;
	height: 100%;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}

 #menu.active {
	-webkit-transform: translate(-13.755em, 0px);
	-moz-transform: translate(-13.755em, 0px);
	-o-transform: translate(-13.755em, 0px);
	-ms-transform: translate(-13.755em, 0px);
	transform: translate(-13.755em, 0px);
}

.container {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;  
}

.container.active {
	-webkit-transform: translate(-13.725em, 0px);
	-moz-transform: translate(-13.725em, 0px);
	-o-transform: translate(-13.725em, 0px);
	-ms-transform: translate(-13.725em, 0px);
	transform: translate(-13.725em, 0px);
}

.menu-link {
	position: absolute;
	top: 15px;
	left: -50px;
	height: 35px;
	width: 35px;
	background-position: center center;
	background-size: 50%;
	z-index: 99;
	opacity: 0.9;
	-webkit-transition: opacity 0.15s ease;
	-moz-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

/*Medium Screen Sizes*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.chazgazm {
		margin-bottom: 25%;
	}
	
	#home {
		margin-top: 20%;
	}
	
	.row {
		max-width: 90%;
	}
}

/*Small Screen Sizes*/
@media only screen and (max-width: 40em) {
	.human-project, .hued-project, .night-stand-project, .platos-closet-project {
		margin: 0;
	}
	
	.skill-set, .contact-form, .slider {
		display: none;
	}
	
	.project img {
		width: 100%;
	}
	
	.chazgazm {
		margin-bottom: 35%;
	}
	
	#home {
		margin-top: 30%;
	}
	
	.row {
		max-width: 100%;
	}
}