@charset "UTF-8";
/* CSS Document */

/*colors*/
.container {
	background-color: #FFFFFF;
}

h1 {
	font: italic 900 250%/110% "proxima-nova", sans-serif;
	color: #000000;
}

h2 {
	font: italic 800 200%/110% "proxima-nova", sans-serif;
	color: #000000;
}

h3 {
	font: italic 700 150%/110% "proxima-nova", sans-serif;
	color: #000000;
}

h4 {
	font: italic 600 100%/110% "proxima-nova", sans-serif;
	color: #000000;
}

p {
	font: normal 100%/150% "proxima-nova", sans-serif;
}

.button {
	background-color: #000000;
	color: #2EBDBA;
	font: italic 800 125%/110% "proxima-nova", sans-serif;
}

.button:hover {
	background-color: #2EBDBA;
	color: #000000;
}

/*basic css styling*/
li {
	list-style-type: none;
}

/*contact form DEFAULT*/
input[type="text"] {
	font: italic 600 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;
	border: solid;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

/*contact form PLACEHOLDER*/
::-webkit-input-placeholder {
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

:-moz-placeholder { /* Firefox 18- */
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA; 
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	color: #2EBDBA;  
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

:-ms-input-placeholder {
	font: italic 500 100%/100% "proxima-nova", sans-serif; 
	color: #2EBDBA;  
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}

textarea {
	font: italic 500 100%/100% "proxima-nova", sans-serif;
	height: auto;
	min-height: 100px;
	border-color: #000000;
	box-shadow: none;
	border-width: 2px;
}
 
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
	border-color: #2EBDBA;
	color: #000000;
}

/*project image positioning*/
.hued-project {
	margin-top: 50%;
}

.human-project {
	margin-top: -75%;
}

.night-stand-project {
	 margin-top: -50%;
 }

.platos-closet-project {
	margin-top: -10%;
}

/*hero image positioning*/
.chazgazm {
	margin-bottom: 25%;
}

#home {
	margin-top: 15%;
}

span.hidden {
    display: none;
}

/*project hovers*/
.project {
	max-width: 100%;
	position: relative;
	-webkit-transition: all 0.6s;
}

.project img {
	max-width: 100%;
	-webkit-transition: all 0.6s;
}

.project .project-info {
	display: block;
	background: #2EBDBA;
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out;
	opacity: 0;
}

.project p, h3, h4 {
	transform: scale(0.2);
	-webkit-transition: all 0.3s ease 0.2s;
	opacity:0;
}

.project h3 {
	margin-top: 10%;
}

.project .project-info .project-content {
	width: 100%;
	position: relative;
	padding: 10%;
}

.project:hover .project-info {
	opacity: .9; 
	transform: scale(1);
	visibility: visible;
	display: inline;
}

.project:hover p, h3, h4 {
	opacity: 1;
	transform: scale(1);
	color: #FFFFFF;
}

/*off canvas nav*/
#menu {
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 13.755em;
	right: -13.755em;
	height: 100%;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}

 #menu.active {
	-webkit-transform: translate(-13.755em, 0px);
	-moz-transform: translate(-13.755em, 0px);
	-o-transform: translate(-13.755em, 0px);
	-ms-transform: translate(-13.755em, 0px);
	transform: translate(-13.755em, 0px);
}

.container {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;  
}

.container.active {
	-webkit-transform: translate(-13.725em, 0px);
	-moz-transform: translate(-13.725em, 0px);
	-o-transform: translate(-13.725em, 0px);
	-ms-transform: translate(-13.725em, 0px);
	transform: translate(-13.725em, 0px);
}

.menu-link {
	position: absolute;
	top: 15px;
	left: -50px;
	height: 35px;
	width: 35px;

	background-position: center center;
	background-size: 50%;
	z-index: 99;
	opacity: 0.9;
	-webkit-transition: opacity 0.15s ease;
	-moz-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

/*Small screen styles*/
@media only screen and (max-width: 40em) {
	.human-project, .hued-project, .night-stand-project, .platos-closet-project {
		margin: 0;
	}
	
	.skill-set, .contact-form {
		display: none;
	}
	
	.project img {
		width: 100%;
	}
}